<ion-view title="{{userName}}" hide-back-button='true'>
    <ion-nav-buttons side="left">
     <button style="color:white; " class="button button-clear icon ion-arrow-left-c" on-tap="toProfile()"></button>
     </ion-nav-buttons>
<ion-content style="background-color:#f47153;" class="has-header" has-tabs="false" on-tap="" scroll-watch>
<div style="margin-top:10%;">
    <label class="item item-input">
        <h3 style="text-align:center; font-size:120%; color:black; padding-top:2%;padding-bottom:2%;">
            we're here to help!
        </h3>
    </label>
    <label class="item item-input">
        <input type="password" ng-model="password.current" placeholder="current password">
    </label>
    <label class="item item-input">
        <input type="password" ng-model="password.newpass" placeholder="new password">
    </label>
    <label class="item item-input">
        <input type="password" ng-model="password.newpasscheck" placeholder="validate new password">
    </label>
        <button class="button button-block gifasent-teal" ng-click="updatePassword()">change password</button>
        <button class="button button-block gifasent-teal" ng-click="resetPassword()">forgot password?</button>
</div>
</ion-content>
</ion-view>
